.content {
  margin-top: 55px;
}

.content-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blog-card {
  img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}

.featured-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .featured-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}