/**
 * Footer
 * =================================
 * The hope is to use this and edit as necessary because editing footers suck.
 *
 *
 */

.footer {
  font-family: "Gotham", sans-serif;

  li {
    padding-bottom: 16px;
    opacity: .6;
  }
}