@font-face {
  font-family: 'Gotham';
  src: url('../../../../fonts/Gotham-Medium.woff2') format('woff2'),
  url('../../../../fonts/Gotham-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../../../fonts/GothamBlack.woff2') format('woff2'),
  url('../../../../fonts/GothamBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../../../fonts/GothamBold.woff2') format('woff2'),
  url('../../../../fonts/GothamBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../../../fonts/Gotham-MediumItalic.woff2') format('woff2'),
  url('../../../../fonts/Gotham-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../../../../fonts/GothamBook.woff2') format('woff2'),
  url('../../../../fonts/GothamBook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

